body{
    
}

.topic{
    width: 100%;
    height: 80%;
    top: 20%;
    position: absolute;
    max-width:  100%;
    display:  table;
    }
    .pic{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family: "書法";
    font-size: 50px;
    color: white;
    }
   
.wordbig{
    font-size: 150px;
}
.maker{
    font-size: 50px;
}
@font-face{
    font-family: "書法";
    src: url(../font/KouzanMouhituFontOTF.otf);
}