body{
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "標楷體";
    font-size: 20px;
    
}

.word{
    width: 45%;
    padding:20px;
    float: left;
}
.img{
    width:47%;
    padding:20px;
    float: left;
    
}