.correctButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 200px;
	text-decoration:none;

}
.correctButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.correctButton:active {
	position:relative;
	top:1px;
}


.wrongButton {
	background-color:#d10000;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 200px;
	text-decoration:none;

}
.wrongButton:hover {
	background-color:#eb0909;
}
.wrongButton:active {
	position:relative;
	top:1px;
}
body{
	background-color:  rgba(255, 255, 255, 0.6);
}
.mask{
	bottom: 0%;
	position: absolute;
	width: 97%;
    height: 10%;
	display: table;
}
.table{
	
	display: table-row-group;
	text-align: center;
}

.questioninside{
	position: absolute;
	top: 20%;
	width: 97%;
	text-align: center;
	font-size: 30px;
}
.OXplace{
	display: table-row;
}
.Ohere{
	vertical-align: middle;
	display: table-cell;
}
.Xhere{
	vertical-align: middle;
	display: table-cell;
}

.point{
	position: absolute;
	width: 97%;
	text-align: center;
	bottom: 50px;
	color: rgb(0, 0, 0);
	font-size: 30px;
}